@import "/src/theme/theme.scss";

.signup-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  text-align: center;

  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: $font-size34;
  }

  &__intro-message {
    font-size: $font-size24;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__alternative {
    font-weight: 500;
    margin-top: 12px;
  }

  &__alternative__signup {
    color: $primary-color;
    cursor: pointer;
  }
}
