body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.auth-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  mat-card {
    width: 25vw;
    padding: 0 1em;
    align-items: center;

    mat-card-header {
      .mat-mdc-card-title {
        font-size: 2em;
      }
      margin-bottom: 2em;
    }

    mat-card-content {
      width: 90%;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        mat-form-field {
          width: 100%;
        }

        mat-error {
          margin-bottom: 1em;
        }
      }
    }

    mat-card-actions {
      display: flex;
      flex-direction: column;
    }
  }
}
