<div class="auth-containers">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Welcome!</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
        <!-- Email -->
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
    
        <!-- Password -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password" />
          <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
        
        <mat-error>{{ errorMessage }}</mat-error>
        <button mat-raised-button type="submit" color="primary">Login</button>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <p><a [routerLink]="['/forgot-password']">Forgot Password?</a></p>
      <p>Don't have an account?<a [routerLink]="['/signup']">Signup</a></p>
    </mat-card-actions>
  </mat-card>
</div>