<section class="forgot forgot-container">
  <div class="forgot__content">
    <h1 class="forgot__title">Reset Password by Email</h1>

    <form
      class="forgot__form"
      [formGroup]="forgotFormGroup"
      (ngSubmit)="OnSendResetEmail()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="forgotFormGroup.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="forgotFormGroup.get('email')?.hasError('email')">
          Invalid email.
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary">Submit</button>

      <p class="forgot__success-mesaage" *ngIf="showSuccessMessage">
        An reset link has been sent to the email.
      </p>
    </form>
  </div>
</section>
<router-outlet></router-outlet>

