@import '/src/theme/theme.scss';

.forgot-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot {
  text-align: center;

  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: $font-size34;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__success-mesaage {
    color: $success-color;
    font-weight: 500;
    font-size: $font-size16;
    margin-top: 12px;
  }
}
